<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="../styles/perfil.css"> <!-- Enlaza tu archivo CSS aquí -->
</head>
<body>
    <div class="perfil">
        <div class="imagen">
            <img src="ruta_imagen" alt="Imagen de perfil">
        </div>
        <div class="informacion">
            <h1>Nombre de Usuario: <span>{{nombre_usuario}}</span></h1>
            <p>Nombre: {{nombre}}</p>
            <p>Apellido: {{apellido}}</p>
            <p>Email: {{email}}</p>
            <!-- Puedes decidir si deseas mostrar la clave o no -->
            <!-- Si decides mostrarla con asteriscos, puedes hacerlo así -->
            <!-- <p>Clave: ********</p> -->
        </div>
    </div>
</body>
</html>
